createdAt: "2018-07-26T20:08:28.855Z"
updatedAt: "2018-07-26T20:08:59.011Z"
type: "SNIPPET_NOTE"
folder: "183bccd56c7114047e95"
title: "how to make app without title bar"
tags: []
isStarred: false
isTrashed: false
description: "how to make app without title bar"
snippets: [
  {
    name: "MainActivity.java"
    mode: "Java"
    content: '''
      public class MainActivity extends Activity {
        
      }
    '''
  }
]
