createdAt: "2018-07-26T20:48:49.353Z"
updatedAt: "2018-07-26T20:50:26.043Z"
type: "SNIPPET_NOTE"
folder: "5a6708a84cc60f50131e"
title: "配列の奇数の和と偶数の和をそれぞれ求め、その結果を表示するプログラムを書いてみる copy"
tags: []
isStarred: false
isTrashed: true
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
