createdAt: "2018-07-26T20:11:15.249Z"
updatedAt: "2018-07-30T00:17:30.722Z"
type: "SNIPPET_NOTE"
folder: "5a6708a84cc60f50131e"
title: "breakとcontinueを用いることによって強制的に処理をとめたり間の処理だけ止めて処理を続けたりすることができる。"
description: "breakとcontinueを用いることによって強制的に処理をとめたり間の処理だけ止めて処理を続けたりすることができる。"
snippets: [
  {
    name: "main.java"
    mode: "Java"
    content: '''
      class Main {
        public static void main(String[] args) {
          System.out.println("=== while文 ===");
          int i = 1;
          while (i < 10) {
            // iが5の倍数のとき、繰り返し処理を終了してください
            //outputする前に繰り返し処理をする。
            if(i % 5 == 0){
              break;
            }
            
            System.out.println(i);
            i++;
          }
          
          System.out.println("=== for文 ===");
          for (int j = 1; j < 10; j++) {
            // jが3の倍数のとき、処理をスキップしてください
            //outputoする前にifで条件をだしてcontinueで処理をスキップさせる
            if(j % 3 ==0){
              continue;
            }
            
            System.out.println(j);
          }
        }
      }
    '''
  }
]
tags: [
  "java"
]
isStarred: false
isTrashed: false
