createdAt: "2018-07-26T20:09:21.302Z"
updatedAt: "2018-07-30T00:17:43.053Z"
type: "SNIPPET_NOTE"
folder: "5a6708a84cc60f50131e"
title: "普通for分よりも使いやすい拡張for文を使って出力していく"
description: "普通for分よりも使いやすい拡張for文を使って出力していく"
snippets: [
  {
    name: "main.java"
    mode: "Java"
    content: '''
      class Main {
        public static void main(String[] args) {
          String[] names = {"にんじゃわんこ", "ひつじ仙人", "ベイビーわんこ"};
          //拡張forを使って配列を作っていく
          for(String name : names ){
        　//順番に配列を出す準備が整ったら出力していく
            System.out.println("私の名前は"+ name +"です");
            
          }
            
            
            
            
          
        }
      }
    '''
  }
]
tags: [
  "java"
]
isStarred: false
isTrashed: false
