createdAt: "2018-07-26T20:11:52.170Z"
updatedAt: "2018-07-26T21:26:11.696Z"
type: "SNIPPET_NOTE"
folder: "5a6708a84cc60f50131e"
title: "switch文を使って１から１０までoutputにて表示させる"
description: "switch文を使って１から１０までoutputにて表示させる"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      class Main {
        public static void main(String[] args) {
          int number = 10;
          
          // while文を用いて、繰り返し処理を作ってください
          // while文を使ってnumberが０より大きい値を作る。
          while(number > 0){
          //outputを作りnumberを表示させる
            System.out.println(number);
          //whileから導き出したnumberから1を引く。そうでないと無限ループになる。
            number --;
          }
          
        }
      }
    '''
  }
]
tags: [
  "java"
]
isStarred: false
isTrashed: false
