createdAt: "2018-07-26T20:08:36.993Z"
updatedAt: "2018-07-26T21:26:33.071Z"
type: "SNIPPET_NOTE"
folder: "5a6708a84cc60f50131e"
title: "引き数をつかって他のメソッドを呼び出し、呼び出した引き数を仮変数に渡して代入することができる"
description: "引き数をつかって他のメソッドを呼び出し、呼び出した引き数を仮変数に渡して代入することができる"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      class Main {
        public static void main(String[] args) {
          // 引数に「Kate Jones」を渡す
          printData("Kate Jones");
          
          // 引数に「John Christopher Smith」を渡してください
          printData("John Christopher Smith");
          
        }
      
        // 引数を受け取るように仮変数名を入力する
        public static void printData(String name ) {
          // 「私の名前はJohn Christopher Smithと出力し直す
          System.out.println("私の名前は"+ name +"です");
          
        }
      }
      
    '''
  }
]
tags: [
  "java"
]
isStarred: false
isTrashed: false
